.show-container {
    display: flex;
    background: #181818;
  }

.show-container .scroll {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    padding:0 5px;
  }
  
.show-container .scroll img {
    width: 50px;
    height: 50px;
  }
  
.show-container section {
    flex: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin: 10px;
    height: 620px;
  }
  .scroll:hover{
    background:radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(24,24,24,0) 50%);
    border-radius: 70%;
  }
  #slider{
    max-width:100%;
  }
  
.show-container section img {
    height: 100%;
  }
  